    body {
        font-family: "Space Grotesk", sans-serif;
        margin: auto;
        max-width: 1440px;

    }

    .mainlogo {
        width: 100%;
    }

    .toppanel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin: 20px;
    }

    .content {
        display: flex;
        gap: 40px;
    }

    .content p {
        padding: 5px;
    }

    .request {
        color: #191A23;
        border: rgb(0, 0, 0) solid;
        border-width: 1px;
        text-decoration: none;
        border-radius: 14px;
        font-size: 18px;
        padding: 20px 30px;
        margin-left: 30px;
    }

    .rightside {
        display: flex;
        align-items: center;
        font-size: 18px;
        gap: 10px;
    }

    .menu-item {
        display: flex;
        position: relative;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 50px;
        background-color: rgb(238, 238, 238);
        border: 1px solid #111111;
        border-radius: 8px;
        width: 180px;
    }

    .submenu a {
        display: block;
        padding: 10px 25px;
        color: #131423;
        text-decoration: none;
        font-size: 16px;
    }

    .menu-item:hover .submenu {
        display: block;
    }

    .submenu a:hover {
        background-color: #8d8d8d;
        border-radius: 8px;
    }

    .menu-item {
        gap: 10px;
        display: flex;
        position: relative;
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 50px;
        background-color: rgb(238, 238, 238);
        border: 1px solid #111111;
        border-radius: 8px;
        width: 180px;
    }

    .sub-menu a {
        display: block;
        padding: 10px 25px;
        color: #131423;
        text-decoration: none;
        font-size: 16px;
    }

    .menu-item:hover .sub-menu {
        display: block;
    }

    .submenu a:hover {
        background-color: #8d8d8d;
        border-radius: 8px;
    }

    .menu-toggle {
        font-size: 30px;
        cursor: pointer;
        display: none;
        z-index: 1001;
    }

    .menu {
        display: flex;
        gap: 10px;
    }


    @media screen and (max-width:990px) {

        .menu-toggle {
            display: block;
        }

        .menu {
            display: none;
            flex-direction: column;
            background-color: #dfdfdf;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            padding-top: 55px;
            text-align: center;
            z-index: 1000;
        }

        .menu.active {
            display: flex;
        }

        .content p {
            flex-direction: column;
            display: flex;
            gap: 30px;
            width: 100%;
            text-align: center;
        }

        .menu-item {
            margin: 15px 0;
        }

        .menu-item p {
            color: #000;
            font-size: 20px;
        }

        .usecase.hover {
            display: none;
        }
    }