body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: rgb(159, 188, 199);
}

.all {
    border: 2px solid rgb(121, 121, 121);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    max-width: 445px;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-size: 16px;
}

.namesection {
    font-size: 18px;

}

.birthdate input {
    color: rgb(105, 105, 105);
    width: 160px;
}

.selfintro textarea {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(121, 121, 121);
}


.submitbutton input {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(121, 121, 121);
}

input::placeholder {
    color: rgb(121, 121, 121);
}

.section1,
.section2,
.section3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section1 input,
.section2 input,
.section3 input {
    max-width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(121, 121, 121);
}