body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.heading {
    font-size: 20px;
}

.namesection {
    font-size: 18px;

}

.birthdate input {
    color: blueviolet;
}

.submitbutton input {
    padding: 10px;
    border-radius: 15px;

}

input::placeholder {
    color: blueviolet;
}

.section1,
.section2,
.section3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section1 input,
.section2 input,
.section3 input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(121, 121, 121);
}