    body {
        font-family: "Space Grotesk", sans-serif;
        margin-top: 51px;
    }

    .toppanel {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .bar {
        display: flex;
        gap: 40px;
    }

    .request {
        color: #191A23;
        border: rgb(0, 0, 0) solid;
        border-width: 1px;
        text-decoration: none;
        border-radius: 14px;
        font-size: 18px;
        padding: 20px 35px;
    }

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
        font-size: 18px;
    }