body {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 51px;
}

.main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.bar {
    display: flex;
    gap: 40px;
}


.request {
    color: #191A23;
    border: rgb(0, 0, 0) solid;
    border-width: 1px;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 14px;
    font-size: 20px;
}