.main2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    gap: 35px;
    padding-top: 40px;
}

.mainpicture {
    justify-content: space-between;
    gap: 35px;
}

.illu img {
    max-width: 90%;
    display: block;
}

.paragraph {
    font-size: 40px;
    letter-spacing: 0%;
    width: 50%;
}

p {
    font-size: 20px;
}

.consultation {
    font-size: 20px;
    background-color: #191A23;
    border: #191A23 solid;
    border-width: 2px;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    padding: 14px 30px;
    gap: 10px;

}

.bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottom img {
    max-width: 100%;
}

@media screen and (max-width:990px) {

    .content {
        display: none;

    }

    .toppanel {
        padding-left: 30px;
        padding-right: 30px;
    }

    .requestbutton {
        display: none;
    }
}