.tittle {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.images {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.picturecontent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.middlepart,
.middleparttwo {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.content {
    background-color: antiquewhite;
    border: 2px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 80%;
    position: relative;
    top: -50px;
    align-items: center;
    margin: auto;
}


@media screen and (max-width:990px) {
    .middlepart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .images {
        width: 80%;
    }
}