body {
    background-color: cadetblue;
}

.travelbox {
    font-family: "Oxygen", sans-serif;
    padding: 30px 30px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    justify-content: center;
}

.tarvelpic img {
    border-radius: 15px;
    width: 100%;
}

.travelbox h4,
p {
    margin: 5px;
}