body {
    background-color: cadetblue;
}

.all {
    display: flex;
    gap: 120px;
}

.travelbox {
    font-family: "Oxygen", sans-serif;
    padding: 30px 30px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    justify-content: center;
    position: relative;
}

.travelpic img {
    border-radius: 15px;
    width: 100%;
}

.travelbox h4,
p {
    margin: 5px;
}

.travelbox h4 {
    font-size: 20px;
    margin-top: 20px;
}

.travelbox p {
    font-size: 15px;
    color: rgb(134, 134, 134);
    margin-top: 14px;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


.icons img {
    width: 20px;
    border-radius: 0;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 50%;
}

.buildingicon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.leftpart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hearticon {
    text-align: right;
}

.hearticon img {
    width: 20px;
    border-radius: 0;
}

.leftpart img {
    width: 15px;
    border-radius: 0;
}

.discriptionbox {
    background-color: bisque;
    position: absolute;
    width: 65%;
    bottom: 40px;
    right: -70px;
    display: flex;
    gap: 5px;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.romepic {
    width: 25%;
    display: flex;
}

.romepic img {
    width: 100%;
}

.textbox {
    width: 70%;
    margin: 10px;
    flex-direction: center;
    text-align: left;
    justify-content: center;
}

.firstcontent p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.firstcontent h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.secondcontent {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 3px;
}

.secondcontent p1 {
    color: blue;
}

.secondcontent p {
    color: black bold;
    font-weight: bold;

}

.loadingbar {
    background-color: rgb(171, 171, 171);
    border-radius: 10px;
    height: 8px;
    margin-top: 10px;
}

.bar {
    width: 50%;
    background-color: rgb(0, 34, 255);
    border-radius: 10px;
    height: 8px;
}

@media screen and (max-width:990px) {
    .all {
        display: flex;
        flex-direction: column;
    }

    .travelbox {
        width: 300%;
        padding: 30px 30px;
        width: 100%;
        max-width: 300px;
        border-radius: 15px;
        margin: 10px;
        justify-content: center;
        position: relative;
    }

    .discriptionbox {
        position: absolute;
        width: 60%;
        padding: 25px 15px;
    }
}