body {
    background-color: rgb(197, 202, 239);
    font-family: Arial, sans-serif;

}

.firstbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    gap: 30px;

}

.rightside {
    display: flex;
    align-items: center;
    gap: 30px;
}

.call img {
    width: 23px;
    max-width: 100%;
}

.logo img {
    width: 180px;
    max-width: 100%;
}

.contactbutton {
    background-color: #f9612b;
    border: #f9612b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 7px;
    max-width: 100%;
}

.content {
    display: flex;
    gap: 30px;
    max-width: 100%;
}

.hambuger img {
    width: 23px;
    max-width: 100%;
    display: none;
}

p2 {
    color: #f9612b;
}

@media screen and (max-width: 1020px) {
    .firstbar {
        font-size: 15px;

    }

    .content {
        display: none;
    }

    .contactbutton {
        display: none;
    }

    .hambuger img {
        display: block;
    }

}

@media screen and (max-width: 750px) {
    .call img {
        display: none;
    }

    .number {
        display: none;
    }
}