body {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    max-width: 1400px;
    margin: auto;
}

.toppanel {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.rightside {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.request {
    display: flex;
    align-items: center;
    color: #191A23;
    border: rgb(0, 0, 0) solid;
    border-width: 1px;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 14px;
}

.requestbutton {
    padding-left: 30px;
}

.hambuger img {
    display: none;
    width: 20px;
    max-width: 100%;
}

p3 {
    border: #B9FF66 solid;
    background-color: #B9FF66;
    padding: 6px 10px;
    border-radius: 10px;
}

.middlepart {
    display: flex;
    gap: 50px;
    background-color: #F3F3F3;
    padding: 20px 30px;
    border-radius: 25px;
    align-items: center;
}

.desktoppicture img {
    width: 100%;
}

.desktoppicture {
    width: 100%;
}

.heading {
    margin-top: 10px;
    width: 100%;
}

.heading h1 {
    font-size: 78px;
}

.heading p {
    font-size: 18px;
    margin-top: 0;
}

.mobilepicture {
    display: none;
}



.bottomcontent {
    background-color: #191A23;
    color: #F3F3F3;
    padding: 15px 50px;
    border-radius: 25px;
    margin-top: 40px;
}

.readbutton img {
    width: 30px;
}

.readbutton {
    display: flex;
    align-items: center;
    gap: 15px;
}

.readbutton2 img {
    width: 30px;
}

.readbutton2 {
    display: none;
}

.bottompart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bottomleft {
    width: 40%;
}

.desktoph1 {
    font-size: 18px;
    color: #191A23;
    background-color: #B9FF66;
    border-radius: 10px;
    text-align: left;
}

.bottomleft h2 {
    font-size: 25px;
}

.bottomleft p {
    font-size: 15px;
}

.bottomright {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.bottomright div {
    width: 35%;
    height: 180px;
    background-color: #F3F3F3;
    color: #191A23;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0;

}

.bottomright h3 {
    font-size: 25px;
}

.bottomright p {
    font-size: 15px;
}

.spark img {
    display: none;
}

.mobileh1 {
    display: none;
}

@media screen and (max-width:770px) {

    .content {
        display: none;

    }

    .toppanel {
        padding-left: 30px;
        padding-right: 30px;
    }

    .requestbutton {
        display: none;
    }

    .readbutton img {
        display: none;
    }

    .readbutton p {
        display: none;
    }

    .readbutton2 {
        display: block;
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 15px;
    }

    .hambuger img {
        display: block;
        width: 25px;
    }

    .middlepart {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 20px;
        background-color: white;
        padding-left: 20px 30px;
    }

    .desktoppicture {
        display: none;
    }

    .mobilepicture {
        display: block;
        width: 50%;
        margin: 0;
    }

    .mobilepicture img {
        width: 100%;
    }

    .heading {
        width: 100;
    }

    .heading h1 {
        font-size: 55px;
    }

    .heading p {
        font-size: 16px;
    }

    .bottompart {
        flex-direction: column;
        gap: 20px;
    }

    .bottomcontent {
        padding: 15px 30px;
    }

    .spark img {
        display: block;
        width: 40px;
    }

    .readbutton {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding-left: 0;
    }

    .bottomright div {
        width: 100%;
    }

    .bottomleft,
    .bottomright {
        width: 100%;
        padding-left: 0;
    }

    .desktoph1 {
        display: none;
    }

    .mobileh1 {
        display: block;
        font-size: 20px;
        background-color: #191A23;
        color: #B9FF66;
        text-align: left;
    }

    .bottomleft h2 {
        font-size: 18px;
    }

    .bottomright p {
        font-size: 15px;
    }

}